body{
  background-color: #121212;
}


.hero{
  width: 100%;
  height: 100vh;

}

.hero-con {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  
}


.hero-img{
  width: 100%;
  position: absolute;
  height: 100%;
  object-fit: cover;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast; 
  position: absolute;
  z-index: -1;
  
}


.hero-txt-con{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  z-index: 1;
  
}

.hero-txt-holder{
  width: 100%;
  text-align: center;
  
}

.hero-txt-holder > p{
  color: #FFF;
  font-size: 1.5rem;
  font-family: "Montserrat",sans-serif;
  font-weight: 300;
}

.hero-txt-holder > h1{
  color: #FFFF;
  font-size: 5rem;
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;
  width: 100%;
  font-weight: 500;
  margin: 0.25rem 0;
  text-transform: uppercase;
}

.hero-txt-holder > p{
  color: #FFF;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  
}


.hero-btn{
  padding: 1rem 3.25rem;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid white;
  color: #FFFF;
  cursor: pointer;
  transition: ease-in-out 300ms all;
}

.hero-btn:hover{
  background-color: rgba(0, 0, 0, 0.5);
}



.faction-section {
  width: 100%;
  height: 100vh;

}

.faction-holder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.faction-text{
  width: 45%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

.faction-text-holder{
  height: 100%;
  width: 90%;
}

.faction-text-holder > h1{
  width: 100%;
  margin: 0 auto;
  font-size: 3rem;
  font-family: "Montserrat",sans-serif;
  color: #FFFF;
  font-weight: 500;
  text-align: left
}


.faction-text-holder > p{
  width: 100%;
  font-size: 1.125rem;
  color: #FFF;
  font-family: "Montserrat",sans-serif;
  margin: 1rem auto;
  line-height: 1.8;
}

.faction-img{
  position: absolute;
  z-index: -1;
  object-fit: cover;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  height: 100%;
  width: 100%;
}

.btn-holder{
  width: 80%;
}

.character-section{
  width: 100%;
  height: 100vh;
}

.character-container{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.character-img{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

.character-text{
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-text-holder{
  width: 80%;
}

.character-text-holder > h1{
  font-size: 3rem;
  color: #FFFF;
  font-family: "Montserrat",sans-serif;
  font-weight: 500;
}

.character-text-holder > p{
  font-size: 1.125rem;
  color: #FFF;
  font-family: "Montserrat",sans-serif;
  margin: 1rem auto;
  line-height: 1.8;
}



.comic-section{
  width: 100%;
  height: 100vh;
}

.comic-con{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.65);
}

.comic-img{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  
}

.comic-text{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.comic-text-holder > h1{
  font-family: "Montserrat",sans-serif;
  font-size: 5rem;
  color: #FFFF;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.comic-text-holder > p{
  font-size: 1.125rem;
  color: #FFF;
  font-family: "Montserrat",sans-serif;
  margin: 1rem auto;
  text-align: center;
  line-height: 1.8;
}

.btn-holder{
  display: grid;
  align-items: center;
}



/* Media Query for Tablets & Above */

@media screen and (min-width: 750px) and (max-width: 1100px) {
  .hero{
    height: 100vh;
  }

  .hero-txt-con{
    width: 80%;
    margin: auto;
  }

  .hero-txt-holder{
    width: 100%;
    height: auto;
    
  }


  .hero-txt-holder > h1{
    font-weight: 500;

  }

  .hero-txt-holder > h1{
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  .hero-txt-holder > p{
    font-size: 1.125rem;
  }

  .faction-text{
    width: 100%;
    height: 100%;
  }

  .faction-text-holder{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .character-section {
    height: 100vh;
    width: 100%;
  }


  .text-holder-char{
    width: 90%;
    margin: 2rem auto;
  }

  .character-holder {
    flex-direction: column-reverse;
  }

  .comic-section {
    min-height: 100vh;
  }

  .comic-container {
    flex-direction: column;
  }


  .comic-text,
  .character-text {
    width: 90%;
    height: auto;
    line-height: normal;
  }

  .comic-text h1 {
    font-size: 2.25rem;
    font-weight: 500;
  }

  .comic-text-holder p {
    font-size: 0.975rem;
  } 
}

/* Media Query for Modern Phones */

@media screen and (min-width: 400px) and (max-width: 749px) {


  .hero{
    height: 100vh;
  }

  .hero-txt-con{
    width: 80%;
    margin: auto;
  }

  .hero-txt-holder{
    width: 100%;
    height: auto;
    
  }


  .hero-txt-holder > h1{
    font-weight: 500;

  }

  .hero-txt-holder > h1{
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  .hero-txt-holder > p{
    font-size: 1.125rem;
  }

  .faction-text{
    width: 100%;
    height: 100%;
  }

  .faction-text-holder{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .character-section {
    height: 100vh;
    width: 100%;
  }


  .text-holder-char{
    width: 90%;
    margin: 2rem auto;
  }

  .character-holder {
    flex-direction: column-reverse;
  }

  .comic-section {
    min-height: 100vh;
  }

  .comic-container {
    flex-direction: column;
  }


  .comic-text,
  .character-text {
    width: 90%;
    height: auto;
    line-height: normal;
  }

  .comic-text h1 {
    font-size: 2.25rem;
    font-weight: 500;
  }

  .comic-text-holder p {
    font-size: 0.975rem;
  }

}


/* Media Query for Older & Smaller Phones */

@media screen and (min-width: 250px) and (max-width: 399px) {
  .hero{
    height: 100vh;
  }

  .hero-txt-con{
    width: 80%;
    margin: auto;
  }

  .hero-txt-holder{
    width: 100%;
    height: auto;
    
  }


  .hero-txt-holder > h1{
    font-weight: 500;

  }

  .hero-txt-holder > h1{
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  .hero-txt-holder > p{
    font-size: 1.125rem;
  }

  .faction-text{
    width: 100%;
    height: 100%;
  }

  .faction-text-holder{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .character-section {
    height: 100vh;
    width: 100%;
  }


  .text-holder-char{
    width: 90%;
    margin: 2rem auto;
  }

  .character-holder {
    flex-direction: column-reverse;
  }

  .comic-section {
    min-height: 100vh;
  }

  .comic-container {
    flex-direction: column;
  }


  .comic-text,
  .character-text {
    width: 90%;
    height: auto;
    line-height: normal;
  }

  .comic-text h1 {
    font-size: 2.25rem;
    font-weight: 500;
  }

  .comic-text-holder p {
    font-size: 0.975rem;
  }
}
